<div id='scontainer'>
  <div class='srow'>
    <div ng-if='data.linkedindata.linkedinImageUrl' class='schmoozeelogo'>
      <a href='{{profileUrl}}'><img id='slogo' src='{{data.linkedindata.linkedinImageUrl}}' /></a>
    </div>
    <div ng-class="{isactive:data.linkedindata.linkedinImageUrl}" >
    <div class='dossier'>
     {{name}}: {{data.linkedindata.linkedinHeadline}} 
    </div>
    <div class='stopics'>
      Relevant News for {{name}}:
    </div>
    <div class='news'>
      <p><img id='cp' src='{{companylogo}}' /><a href="{{data.cnews[0].link}}" target="_blank">{{data.cnews[0].title}}</a></p>
      <p><img id='cp' src='{{companylogo}}' /><a href="{{data.cnews[1].link}}" target="_blank">{{data.cnews[1].title}}</a></p>
      <p><img id='cp' src='{{companylogo}}' /><a href="{{data.cnews[2].link}}" target="_blank">{{data.cnews[2].title}}</a></p>
      <p><img id='cp' src='{{companylogo}}' /><a href="{{data.cnews[3].link}}" target="_blank">{{data.cnews[3].title}}</a></p>
    </div>
    </div>
  </div>
</div>