<div id='scontainer'>
<div class='srow'>
  <div class='schmoozeelogo'>
    <a href='http://www.schmoozee.io'><img id='slogo' src='{{imageUrl}}' /></a>
  </div>
  <div class='dossier'>
    Director of B2B Marketing at Fitbit
  </div>
  <div class='stopics'>
    Possible <a href="http://www.schmoozee.io" style='color: #a60183'>Schmooze</a> Topics:
  </div>
  <div class='news'>
    <p><a href="http://www.sfgate.com/news/article/Stolen-17th-century-books-discovered-in-S-F-to-6102091.php" target="_blank">Stolen 17th century books discovered in SF, to be returned to Italy</a></p>
    <p><a href="http://www.sfgate.com/news/article/Stolen-17th-century-books-discovered-in-S-F-to-6102091.php" target="_blank">Video Shows San Francisco officer striking homeless man with baton</a></p>
  </div>
</div>
</div>