<div id='scontainer'>
  <div class='srow'>
    <div class='schmoozeelogo'>
      <a href='{{profileUrl}}'><img id='slogo' src='{{data.linkedindata.linkedinImageUrl}}' /></a>
    </div>
    <div class='dossier'>
     {{name}}: {{data.linkedindata.linkedinHeadline}} 
    </div>
    <div class='stopics'>
      Possible <a href="http://www.schmoozee.io" style='color: #a60183'>Schmooze</a> Topics:
    </div>
    <div class='news'>
      <p><a href="{{data.cnews[0].link}}" target="_blank">{{data.cnews[0].title}}</a></p>
      <p><a href="{{data.cnews[1].link}}" target="_blank">{{data.cnews[1].title}}</a></p>
    </div>
  </div>
</div>